body{
  font-family: ubuntu;
  font-weight: lighter;
  padding: 10px;
  height: 3508px;
  width: 2480px;
  display: flex;
  flex-direction: row;
}

.side-bar{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 250px;
  border-radius: 5px;
  padding-left: 20px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0,0.15);
  background-color: rgb(237, 209, 168);
  padding-top: 20px;
}
p{
  padding-left: 10px;
  padding-bottom: 10px;
}

.icon{
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
  top:3px;
}

.about-me{
  margin-top: 10px;
  padding-left: 20px;
  background-color: blanchedalmond;
  flex: 1;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0,0.15);
  width:2210px;
}


.education{
  background-color: blanchedalmond;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0,0.15);
  flex: 1;
  margin-top: 20px;
  width:2210px;
}

.certificates{
  background-color: blanchedalmond;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0,0.15);
  flex: 1;
  margin-top: 20px;
  width:2210px;
}


.skills{
  background-color: blanchedalmond;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0,0.15);
  flex: 1;
  margin-top: 20px;
  width:2210px;
}


.other{
  background-color: blanchedalmond;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0,0.15);
  flex: 1;
  margin-top: 20px;
  width:2210px;
}
a{
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}














