body{
  width: 210mm;
  height: 297mm; 
  padding: 2px;
}

.header{
  display: grid;
  background-color: lightblue;
  grid-template-columns: 200px 1fr;
  margin-bottom: 10px;
  column-gap: 10px;
  border: 3px;
  border-style: solid;

}

.hpart1{
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: blue;
  row-gap: 3px;
  
}

.taswirti{
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  border-radius: 50px;
}
.contact{
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.git{
  height: 10px;
  width: 10px;
}
.phone{
  height: 10px;
}
.email{
  height: 10px;
}
.linkedin{
  height: 10px;
}




.cv{
  display: grid;
  grid-template-columns:1fr 1fr;
  background-color: lightpink;
}

